body{
    background: #d2d2c1 url(../IMAGENS/fundo.png) fixed;
    font: 16px Arial, Helvetica, sans-serif;
}

h1{
    color: #828271;
    font-size: 1.2em;
}

#principal{
    width: 900px;
    margin: auto;
}

#menu{
    background: #c5c5b2;
    padding: 18px;
}

#conteudo{
    background: #e8e8d9;
    padding: 10px;
}

.fotos{
    margin: auto;
    display: block;
    width: 50%;
    border: 10px solid #828271;
}

li{
    padding: 8px;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

#rodape{
    text-align: center;
}